html{
    background-color: black;
}
#wish{
    
    font-size: medium;
    color: white;
    text-align: center;
}

#birth{
    color: white;
    text-align: center;
}

#marge{
    border: 5px solid white;
    border-color:aliceblue;
    width: 100%;

}

#block{
    width: 25%;
    height: 25%;
    margin-left: 38%;
    margin-top: 100px;
    font-family: "Libre Baskerville", serif;
}

.img-with-text{
    text-align: justify;
    width: 200;
}
   

h1{
    text-transform: uppercase;
    font-size: 3rem;
}

html, body {
    height: 100%;
  }
  
  